.container {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px;
}

.status {
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.HEALTHY {
  background: lightgreen;
}

.SLOW {
  background: orange;
}

.FAILED {
  background: tomato;
}

.DEGRADED {
  background: violet;
}

.BLOCKED {
  background: lightgray;
}